<div class="adress">
    <p><span style="font-size: 12pt;"><br>Наши контакты</span></p>
    <p><span style="font-size: 14pt;"><strong>ПРИХОДИТЕ НА БЕСПЛАТНЫЙ ПРОБНЫЙ УРОК!</strong></span></p>
    <p><span style="font-size: 14pt;"><strong>______</strong></span></p>
    <p><span style="font-size: 14pt;">Мы находимся в центре Москвы в 5 минутах от </span></p>
    <p><span style="font-size: 14pt;">&nbsp;м.Добрынинская и м.Серпуховская</span><br><span style="font-size: 14pt;"> &nbsp;</span><br><span style="font-size: 14pt;"> <strong>ул. Люсиновская, 39 стр. 5</strong></span></p>
    <p><br><br> <br><span style="font-size: 14pt;"> Предварительная&nbsp;запись по телефону:&nbsp;&nbsp;8 (926) 257-17-59</span><br><span style="font-size: 14pt;"> Наша электронная почта: info@schiller-school.com</span></p>
    <p><span style="font-size: 14pt;">График работы:&nbsp;</span><br><span style="font-size: 14pt;">Мы работает ежедневно с 9:00-23:00</span></p>
</div>
<div>
    <div class="sppb-addon-content"><p style="text-align: center;">Схема проезда<strong><br> <span style="font-size: 14pt;">КАК ДО НАС ДОБРАТЬСЯ?</span></strong></p>
      <p style="text-align: center;"><span style="font-size: 12pt;">От метро Добрынинская</span></p>
      <ul>
      <li><span style="font-size: 12pt;">Выходите из метро (выход один) на ул. Люсиновская.</span></li>
      <li><span style="font-size: 12pt;">После стеклянных дверей поверните направо</span></li>
      <li><span style="font-size: 12pt;">Идите прямо по улице до бизнес-центра Glass Haus, перейдите улицу и продолжайте идти по направлению движения автомобилей.</span></li>
      <li><span style="font-size: 12pt;">Сразу за зданием ГНУ ВНИМИ вы увидите здание школы, вход со двора</span></li>
      <li><span style="font-size: 12pt;">Пройдите за шлагбаум и заходите в первую стеклянную коричневую дверь.</span></li>
      <li><span style="font-size: 12pt;">В холле пройдите мимо охраны и поднимитесь по лестнице.</span></li>
      </ul>
      <p style="text-align: center;"><span style="font-size: 12pt;"></span><span style="font-size: 12pt;">Д</span><span style="font-size: 12pt;">обро пожаловать в нашу школу!</span></p>
      <p style="text-align: center;"><br><span style="font-size: 12pt;"> Если вам будет сложно найти дорогу, связывайтесь с нами по телефону, мы вас&nbsp;встретим.</span><br><span style="font-size: 12pt;"> <strong>Мы ждем вас!</strong></span></p>
      <p></p></div>
</div>